<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239906026383-4v57mbqi4fji2he1iqulqklc6mbjqfng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239906026383-4v57mbqi4fji2he1iqulqklc6mbjqfng</string>
	<key>API_KEY</key>
	<string>AIzaSyDcbrxkiCE0x9Tx4q1p3KWupHAbZSuISb4</string>
	<key>GCM_SENDER_ID</key>
	<string>239906026383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GonzagaCampusWalkingTour</string>
	<key>PROJECT_ID</key>
	<string>gonzagawalkingtour</string>
	<key>STORAGE_BUCKET</key>
	<string>gonzagawalkingtour.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239906026383:ios:2c14e7eed693788ec6d1fa</string>
	<key>DATABASE_URL</key>
	<string>https://gonzagawalkingtour.firebaseio.com</string>
</dict>
</plist>